<div class="jumbotron">
    <div class="container">
        <h1>{{jumbotronHeading}}</h1>
        <p>{{jumbotronText}}</p>
        <p><a href="{{jumbotronUrl}}" class="btn btn-primary btn-lg">{{jumbotronBtnText}}</a></p>
    </div>
</div>